[submodule "vim/vim/pathogen"]
	path = vim/vim/pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "vim/vim/bundle/solarized"]
	path = vim/vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/vim/bundle/vim-coffee-script"]
	path = vim/vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim/bundle/vim-markdown"]
	path = vim/vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vim/bundle/vim-gitignore"]
	path = vim/vim/bundle/vim-gitignore
	url = https://github.com/vitaly/vim-gitignore
[submodule "vim/vim/bundle/vim-numbertoggle"]
	path = vim/vim/bundle/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "vim/vim/bundle/detectindent"]
	path = vim/vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent.git
[submodule "fish/virtualfish"]
	path = fish/virtualfish
	url = https://github.com/adambrenecki/virtualfish.git
[submodule "vim/vim/bundle/vim-fish"]
	path = vim/vim/bundle/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule "vim/vim/bundle/editorconfig-vim"]
	path = vim/vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/vim-git"]
	path = vim/vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "vim/vim/bundle/vim-less"]
	path = vim/vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/tabular"]
	path = vim/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
